body {
  font-family: "Amatic SC", cursive;
  margin: 20px;
  padding: 40px 60px 10px 60px;
  background-color: #ffe7e7;
}

h1 {
  color: white;
}
h2 {
  text-align: center;
  font-size: 60px;
  color: white;
}

h3 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

h4 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

p {
  font-size: 25px;
  color: white;
}

footer {
  text-align: center;
  font-family: "Karla", sans-serif;
  margin-bottom: 0;
  color: white;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
  padding: 35px 35px 35px 35px;
  border-radius: 25px;
  border: 10px outset #ffb4da;

  border-radius: 30px 10px;
  align-items: center;
  background-image: linear-gradient(to top, #f9ac9d 0%, #fcd9b7 90%);
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  transition: all 200ms fade-out 200ms;
}

.search-bar {
  font-size: 25px;
  margin: 0;
  display: block;
  text-align: left;
}

.btn-outline-secondary {
  font-size: 20px;
  background-color: #ffb4da;
  border-color: #ffb4da;
}

.col-2 {
  text-align: center;
}

.current-icon {
  margin-left: -60px;
  margin-top: -40px;
  width: 250px;
}
.contact-button {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 80px;
  background-color: #ffb4da;
  border-color: #ffb4da;
}

.active {
  cursor: default;
  color: white;
}

.active:hover {
  color: white;
}

.forecast-date{
  font-size: 30px;
  
}

.forecast-temperature {
  font-size: 25px;
  color: white;
}

#input-city {
  font-size: 70px;
  font-weight: bold;
}

#fahrenheit-link {
  color: #66bfbf;
}
